<!DOCTYPE html>
<html lang="en" ng-app="dekorateApp">
<head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <script src="app.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</head>
<body ng-controller="expensesController">
<div class="top-header">
    <img class="header-img" src="http://www.dekorate.in/fc0c3bc39ce00558b43e7896e4f0198d.png" alt="dekorate">
</div>
<div layout="row" layout-sm="column">
    <div flex="20"></div>
    <div flex="30">
        <h2>Expenses Table</h2>
        <table class="table">
            <tr>
                <th>Name
                </th>
                <th>Type<br>(Cash/Credit)
                </th>
                <th>Price
                </th>
                <th>Date
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="expense in expensesTable">
                <td>{{expense.name}}
                </td>
                <td>{{expense.type}}
                </td>
                <td>{{expense.price}}
                </td>
                <td>{{expense.date | date : "dd-MMMM-yyyy"}}
                </td>
                <td>
                    <i class="material-icons" ng-click="removeRow($index)">&#xE872;</i>
                </td>
            </tr>
        </table>
    </div>
    <div flex="10"></div>
    <div flex="30">
        <h2>Add a row</h2>
        <form name = "expense-form" class="form-horizontal border-form" role="form" ng-submit="addRow()">
                <div layout="column">
                    <div flex="20">
                    <b>Name :</b>
                <md-input-container>
                    <input ng-model="name" required="true" type="string">
                </md-input-container>
                    </div>
                    <div flex>
                        <b>Type :</b>
                        <label>
                            <input type="radio" checked="checked" ng-model="type" value="cash" name="type">
                            Cash
                        </label>
                        <label>
                            <input type="radio" ng-model="type" value="credit" name="type">
                            Credit
                        </label>
                    </div>
                    <div flex>
                <b>Price :</b>
                <md-input-container>
                    <input ng-model="price" required = "true" type="number">
                </md-input-container>
                    </div>

            <div flex>
                <b>Date :</b>
                <md-datepicker ng-model="date" md-placeholder="Enter date" required></md-datepicker>
            </div>
            <br>
            <div layout="row">
                <div flex="70">
                </div>
            <md-button class="md-raised md-primary" type="submit" ng-value="submit">Add</md-button>
            </div>
        </form>
    </div>
    </div>
</div>
<hr>
<div id="charts" layout="row">
    <nvd3 flex="40" options="barChartOptions" data = "barData" config="{refreshDataOnly: true}"></nvd3>
    <div flex="10"></div>
    <nvd3 flex="40" options="pieChartOptions" data="cummulativeCategoryData" config="{refreshDataOnly: true}"></nvd3>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>

</html>
